[Unit]
Description=JGG Centro de Transferencias PS3
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

User=ctps3
Group=ctps3

ExecStart=/usr/bin/python3 /opt/ctps3/admin/worker/worker.py

Restart=on-failure
RestartSec=5s

TimeoutStopSec=20s
KillMode=mixed

UMask=0007

Environment=PYTHONUNBUFFERED=1
Environment=HOME=/tmp

NoNewPrivileges=true
PrivateTmp=true
PrivateDevices=true

ProtectSystem=strict
ProtectHome=true

ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
ProtectClock=true

RestrictSUIDSGID=true
LockPersonality=true

RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6

ReadOnlyPaths=/opt/ctps3/admin
ReadOnlyPaths=/srv/ps3/PKG
ReadOnlyPaths=/srv/ps3/PS3ISO
ReadOnlyPaths=/srv/ps3/PS2ISO

ReadWritePaths=/var/lib/ctps3
ReadWritePaths=/var/log/ctps3

[Install]
WantedBy=multi-user.target
